

/* //card design  */

/* PRODUCT CARD */
.product-card {
    border-radius: 14px;
    background: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 35px rgba(0,0,0,0.15);
}

/* IMAGE */
.product-img-wrapper {
    position: relative;
    height: 200px;
    background: #f8f9fa;
}

.product-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BADGE */
.product-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 11px;
    padding: 4px 8px;
    border-radius: 20px;
}

/* TEXT */
.product-title {
    font-size: 15px;
    font-weight: 600;
    color: #212529;
    line-height: 1.3;
}

.product-weight {
    font-size: 13px;
    color: #6c757d;
}

.product-price {
    font-weight: 700;
    color: #198754;
}

/* RATING */
.rating {
    font-size: 13px;
    color: #f4b400;
}

/* BUTTON */
.add-to-cart {
    border-radius: 30px;
    font-weight: 600;
    padding: 10px;
    transition: all 0.3s ease;
}

.add-to-cart:hover {
    background: #146c43;
}


/* card mobile cartsui
 */
 @media (max-width: 576px) {
    .product-img-wrapper {
        height: 160px;
    }

    .product-title {
        font-size: 14px;
    }

    .product-price {
        font-size: 16px;
    }
}
